header {
  background-color: #e9e0e0;
  color: rgb(6, 6, 6);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 16px;
}

.contact-icons {
  display: flex;
  align-items: center;
}

.contact-icons img {
  width: 30px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}

.main-content {
  background-color: #ffffff;
  display: flex;
  margin-top: 20px;
}

.text-block {
  width: 65%;
  background-color: #ffffff;
  text-align: center;
  margin-top:140px;
  margin-bottom: 20px;
}

.text-block2 {
  width: 65%;
  background-color: #ffffff;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 0px;
}

.image-block {
  width: 35%;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  margin-top: 40px;
  height: auto;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  height: 50px;
}

.button:hover {
  background-color: #333;
}

.main1 {
  background-color: #ffffff;
  padding: 20px;
}

/* Добавляем медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .main-content {
      flex-direction: column; /* Изменяем направление flex на колонку */
  }

  .text-block,
  .text-block2,
  .image-block {
      width: 100%; /* Занимаем 100% ширины родительского контейнера */
  }

  .image-block {
      margin-top: 0px; /* Добавляем отступ сверху */
  }
  .separator {
    border-top: 3px solid #d20d0d; /* Толщина линии и цвет */
    margin: 20px 0; /* Отступы от верхнего и нижнего контента */
  }  
}
